
.reloj {
    margin: 0px auto;
    width: 650px;
    height: 650px;
  }

  .caratula{
    fill: #fabada;
    
  }

.manecilla{
    width: 3px;
    height: 50%;
    background-color: black;
    position: absolute;
    top: 0%;
    left: 50%;
    transform-origin: bottom;
}

.hora-manecilla{
    width: 10px;
}

.minuto-manecilla{
    height: 10px;
}